<Plugin "aggregation">
	<Aggregation>
		Plugin "cpu"
		Type "cpu"

		SetPlugin "cpu"
		SetPluginInstance "%{aggregation}"

		GroupBy "Host"
		GroupBy "TypeInstance"

		CalculateNum false
		CalculateSum true
		CalculateAverage true
		CalculateMinimum false
		CalculateMaximum false
		CalculateStddev true
	</Aggregation>
</Plugin>

