<Plugin df>
        MountPoint "/"
        MountPoint "/opt"
        MountPoint "/media/data1"
        MountPoint "/media/data2"
        MountPoint "/media/data3"
        MountPoint "/media/backup"
	IgnoreSelected false
        ReportInodes true
        ReportReserved false
</Plugin>

