# {{ansible_managed}}
check process influxdb with pidfile "/opt/influxdb/shared/influxdb.pid"
   group adm
   start program = "/etc/init.d/influxdb start"
   stop  program = "/etc/init.d/influxdb stop"
   if 5 restarts with 5 cycles then timeout
   depend on influxdb_bin
   depend on influxdb_rc
   depend on influxdb_conf

check file influxdb_bin with path "/opt/influxdb/current/influxdb"
   group adm
   if failed checksum       then unmonitor
   if failed permission 755 then unmonitor
   if failed uid influxdb   then unmonitor
   if failed gid influxdb   then unmonitor

check file influxdb_rc with path "/etc/init.d/influxdb"
   group adm
   if failed checksum       then unmonitor
   if failed permission 755 then unmonitor
   if failed uid influxdb   then unmonitor
   if failed gid influxdb   then unmonitor

check file influxdb_conf with path "/opt/influxdb/shared/config.toml"
   group adm
   if changed checksum then alert
   if failed permission 644 then unmonitor
   if failed uid influxdb   then unmonitor
   if failed gid influxdb   then unmonitor

