# {{ansible_managed}}
check host visage with address {{visage_host}}
  group admin
  if failed url http://{{visage_host}}:{{visage_port}}/profiles/60fb7c64dbd95596be4ed41f36f4bcd5 with timeout 15 seconds then alert  
