# {{ansible_managed}}
 check process collectd with pidfile /var/run/collectd.pid
   group root
   start program = "/etc/init.d/collectd start"
   stop  program = "/etc/init.d/collectd stop"
   if 5 restarts with 5 cycles then timeout
   depend on collectd_bin
   depend on collectdmon_bin
   depend on collectd_conf

 check file collectd_bin with path /usr/sbin/collectd
   group root
   include /etc/monit/templates/rootbin

 check file collectdmon_bin with path /usr/sbin/collectdmon
   group root
   include /etc/monit/templates/rootbin

 check file collectd_conf with path /etc/collectd/collectd.conf
   group sshd
   include /etc/monit/templates/rootrc

