# {{ansible_managed}}
# i do not understand why the pid file end here and not in /var/run                       
 check process rsyslogd with pidfile /etc/rsyslogd.pid
   group adm
   start program = "/etc/init.d/rsyslog start"
   stop  program = "/etc/init.d/rsyslog stop"
   if 5 restarts with 5 cycles then timeout
   depend on rsyslogd_bin
   depend on rsyslogd_rc
   depend on rsyslog_file

 check file rsyslogd_bin with path /usr/sbin/rsyslogd
   group adm
   include /etc/monit/templates/rootbin

 check file rsyslogd_rc with path "/etc/init.d/rsyslog"
   group adm
   include /etc/monit/templates/rootbin

 check file rsyslog_file with path /var/log/syslog
   group adm
   if timestamp > 65 minutes then alert
   if failed permission 640  then alert
   # if failed uid syslog      then alert
   if failed gid adm         then alert

