# {{ansible_managed}}
check host 7pi-sso with address 7pi.eu
  group spi
  if failed 
     port 443
     protocol http
     request "/apis/sso/login"
     status = 401
     hostheader "7pi.eu"
  then alert  

