# {{ansible_managed}}
[program:sso]
directory=/home/{{deploy_user}}/src/7pi/sso
command=/usr/bin/gunicorn --bind={{spi_sso_host}}:{{spi_sso_port}} wsgi:app
numprocs=1
user={{deploy_user}}
environment=SSO_SETTINGS="/etc/7pi/7pi-sso.conf", PYTHONPATH="/home/{{deploy_user}}/src/7pi/sso/src"
autostart=true
autorestart=true
startretries=3



