#!/usr/bin/env python
#                                                  -*- coding: utf-8 -*-
# Author: Pierre F. Aubert                  pierreaubert at yahoo dot fr
# {{ansible_managed}}
# ----------------------------------------------------------------------

import logging

# version
VERSION = "0.17"

# debug is false by default
DEBUG = False

# testing is false by default
TESTING = False

# your favorite database, sqlalchimy convention
DATABASE_URI='postgresql+psycopg2://{user}:{pwd}@{host}:{port}/sso'.format(
    user='{{spi_sso_pg_username}}',
    pwd='{{spi_sso_pg_password}}',
    port='{{spi_sso_pg_port}}',
    host='{{spi_sso_pg_host}}')

# main log file
LOG_APP='sso'
LOG_FILE='/var/log/7pi/sso.log'
LOG_LEVEL=logging.INFO

# host/port for sso, host is quoted but port is not
SSO_HOST='{{spi_sso_host}}'
SSO_PORT={{spi_sso_port}}

# local sentry (let empty if you do not use sentry)
SENTRY_DSN=''

# SECRET KEY for debug and dev
SECRET_KEY='{{spi_sso_secretkey}}'

# admin user
ADMIN_USERNAME='{{spi_sso_admin_username}}'
ADMIN_PASSWORD='{{spi_sso_admin_password}}'
ADMIN_EMAIL='{{spi_sso_admin_email}}'
