#!/usr/bin/env python
# -*- coding: utf-8 -*-
# Author: Pierre F. Aubert                  pierreaubert at yahoo dot fr
# {{ansible_managed}}
# ----------------------------------------------------------------------

import logging
from datetime import date

# version
VERSION = "0.17"
# secret key
SECRET_KEY='4|546(5q4sd65)q4sd3/1a2zer:3456165476&'
# debug is false by default
DEBUG = True
# testing is false by default
TESTING = False
# your favorite database, sqlalchimy convention
#DATABASE_URI = 'sqlite://:memory'
DATABASE_URI='postgresql+psycopg2://{user}:{pwd}@{host}:{port}/rssfeeds'.format(
    user='{{spi_rssfeeds_pg_username}}',
    pwd='{{spi_rssfeeds_pg_password}}',
    port='{{spi_rssfeeds_pg_port}}',
    host='{{spi_rssfeeds_pg_host}}')
# our user agent
USER_AGENT = "7pi.eu-v{0}".format(VERSION)
# main log file
LOG_APP= "rssfeeds"
LOG_FILE="/var/log/7pi/rssfeeds_{0}.log".format(date.today().isoformat())
LOG_LEVEL= logging.INFO
# host/port for techradar
RSSFEEDS_HOST='{{spi_rssfeeds_host}}'
RSSFEEDS_PORT={{spi_rssfeeds_port}}
RSSFEEDS_URL='http://{}:{}'.format(RSSFEEDS_HOST, RSSFEEDS_PORT)
# host/port for sso
SSO_HOST='{{spi_sso_host}}'
SSO_PORT={{spi_sso_port}}
SSO_URL='http://{}:{}'.format(SSO_HOST, SSO_PORT)
SSO_ADMIN_USERNAME='{{spi_sso_admin_username}}'
SSO_ADMIN_PASSWORD='{{spi_sso_admin_password}}'
# do we use sentry
USE_SENTRY=False
SENTRY_DSN=''
#SENTRY_DSN='http://4090c55ae7754c6ca0bc5aed20538c88:0a309b08f418447f9e1c275028c7f1e2@192.168.1.9:9000/2'
# set up a few users:
CRAWLER_USERNAME='{{spi_crawler_username}}'
CRAWLER_PASSWORD='{{spi_crawler_password}}'
CRAWLER_EMAIL='{{spi_crawler_email}}'





