<Plugin "write_graphite">
 <Carbon>
   Host "localhost"
   Port "{{carbon_port}}"
   #Prefix "collectd."
   #Postfix ""
   #Protocol "udp"
   EscapeCharacter "_"
   SeparateInstances true
   StoreRates false
   AlwaysAppendDS false
 </Carbon>
</Plugin>
